body {
    margin: 0 auto;
}

#startMenu {
    background-image: url('.resources/assets/zombiebackground1.png');
    background-size: cover;
    background-position: center;
}

#gameStart {
    width: 150px;
    height: 50px;
    background: white;
}
