/* code for beginning.html - joey*/
body {
    display: flex;
    display:inline-block;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: black;
    background-image: url(/resources/assets/zombiebackground2.jpg);
    background-repeat: no-repeat;
  }
  
  .box {
    /* height: 180px; */
    width: 800px;
    margin: 400px;
    background: white;
    padding: 50px;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: arial;
    position: absolute;
  }
  
  
  .sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
  }

  .bart {
    position: absolute;
    left: 0px;
    bottom: -50px;
    height:500px;
    margin: 50px;
}

button {
    margin: 600px;
    width: 600px
}
